<div class="head">
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>LOGIN</h3>
				<div class="d-flex justify-content-end social_icon">
					<a href="https://www.facebook.com/"><span><i class="fab fa-facebook-square"></i></span></a>
					<a href="https://accounts.google.com/signin/v2/identifier?passive=1209600&continue=https%3A%2F%2Faboutme.google.com%2Fu%2F0%2F%3Freferer%3Dgplus&followup=https%3A%2F%2Faboutme.google.com%2Fu%2F0%2F%3Freferer%3Dgplus&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><span><i class="fab fa-google-plus-square"></i></span></a>
					<a href="https://twitter.com/login?lang=en"><span><i class="fab fa-twitter-square"></i></span></a>
				</div>
			</div>
			<div class="card-body">
				<form role="form" #form="ngForm" autocomplete="off">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" id="name" name="name" class="form-control" placeholder="USERNAME" required minlength="4" [(ngModel)]="name" #names="ngModel"><br>
						<div *ngIf="names.invalid && (names.dirty || names.touched)" class="validation-error" style="color: red;">
							Name is required with minlength 4.
					 </div>
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" id="password" name="password" class="form-control" placeholder="PASSWORD" required [(ngModel)]="password" #passwords="ngModel">
						<div *ngIf="passwords.invalid && (passwords.dirty || passwords.touched)" class="validation-error" style="color: red;" >
							Password is required.
					</div>
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
						<input type="submit" (click)="login()" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="#">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>