<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">Hunger Box</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <!-- <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#menu" class="w3-bar-item w3-button">Menu</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a> -->
      <a href="home" class="w3-bar-item w3-button">Search more Taste..</a>
      <a href="login" class="w3-bar-item w3-button">LogOut</a>
    </div>
  </div>
</div>

<header style="padding-top: 3%;" id="site-header">
  <div class="container">
      <h1>My Cart</h1>
  </div>
</header>

<div class="container">

  <section id="cart"> 
      <article class="product">
          <header>
              <a class="remove">
                  <img src="/assets/Pancakes.jpg" alt="">

                  <h3>Remove product</h3>
              </a>
          </header>

          <div class="content">

              <h1>Orginal Pancake</h1>

              Flat cake,thin and round, prepared from starch based batter that may contain eggs,milk and butter.

              <div title="You have selected this product to be shipped in the color yellow." style="top: 0"></div>
          </div>

          <footer class="content">
              <span class="qt-minus">-</span>
              <span class="qt">1</span>
              <span class="qt-plus">+</span>

              <h2 class="full-price">
                  45.00$
              </h2>

              <h2 class="price">
                  45.00$
              </h2>
          </footer>
      </article>

      <article class="product">
          <header>
              <a class="remove">
                  <img src="/assets/Omelette.jpg" alt="">

                  <h3>Remove product</h3>
              </a>
          </header>

          <div class="content">

              <h1>Sunlight Omelette</h1>

              An omelette or omelet is a dish made from beaten eggs quickly fried with butter or oil in a frying pan(without stirring as in scrambled egg.

              <div title="You have selected this product to be shipped in the color red." style="top: 0"></div>
              
          </div>

          <footer class="content">
              
              <span class="qt-minus">-</span>
              <span class="qt">1</span>
              <span class="qt-plus">+</span>

              <h2 class="full-price">
                  45.00$
              </h2>

              <h2 class="price">
                  45.00$
              </h2>
          </footer>
      </article>

      <article class="product">
          <header>
              <a class="remove">
                  <img src="/assets/ham.jpg" alt="">

                  <h3>Remove product</h3>
              </a>
          </header>

          <div class="content">

              <h1>Ham and Egg Omelete</h1>

              Combination of beaten eggs with ham.

              <div title="You have selected this product to be shipped in the color blue." style="top: 0" ></div>
              
          </div>

          <footer class="content">
              
              <span class="qt-minus">-</span>
              <span class="qt">1</span>
              <span class="qt-plus">+</span>

              <h2 class="full-price">
                  45.00$
              </h2>

              <h2 class="price">
                  45.00$
              </h2>
          </footer>
      </article>

  </section>

</div>

<footer id="site-footer">
  <div class="container clearfix">

      <div class="left">
          <h2 class="subtotal">Subtotal: <span>135.00</span>$</h2>
          <h3 class="tax">Taxes (5%): <span>6.75</span>$</h3>
          <h3 class="shipping">Shipping: <span>5.00</span>$</h3>
      </div>

      <div class="right">
          <h1 class="total">Total: <span>177.16</span>$</h1>
          <a style="color: white;" class="btn">CHECKOUT</a>
      </div>

  </div>
</footer>